<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Informações</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-card class="cards-list-demo">
    <ion-card-header (click)="togleInfo(1)">
      <ion-icon [name]="shows[0].icon" class="header"></ion-icon>
      Seminários
    </ion-card-header>

    <seminarios no-border *ngIf="shows[0].show"></seminarios>

  </ion-card>

  <ion-card class="cards-list-demo">
    <ion-card-header (click)="togleInfo(2)">
      <ion-icon [name]="shows[1].icon" class="header"></ion-icon>
      Preços - Alimentação
    </ion-card-header>
    <ion-item-group *ngIf="shows[1].show">
      <ion-item-divider color="light">
        <ion-row>
          <ion-col width-75>
            Produto
          </ion-col>
          <ion-col>
            Preço
          </ion-col>
        </ion-row>
      </ion-item-divider>

      <ion-item *ngFor="let p of products">
        <ion-row (click)="showAlertKiosk(p)">
          <ion-col width-75>
            {{p.name}}
          </ion-col>
          <ion-col>
            {{p.price}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>
  </ion-card>

  <ion-card class="cards-list-demo">
    <ion-card-header (click)="callEvaluation()">
        Formulário de Avaliação
      <button ion-button [hidden]="true" small clear color="neutral" (click)="callEvaluation()">Formulário de Avaliação</button>
    </ion-card-header>
  </ion-card>

</ion-content>
