<ion-header>
  <ion-navbar>
    <ion-title>Tom: {{name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let row of rows">
      <ion-col width-25 *ngFor="let seq of row.sequences">
        <button class="btnTone" ion-button block small color="{{seq.color}}" (click)="changeTone(seq)">
          {{seq.tone}}{{music.minor}}
          </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><button ion-button block small color="light" (click)="restore(true)">Restaurar Tom</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50><button ion-button small block (click)="cancel()">Cancelar</button></ion-col>
      <ion-col width-50><button ion-button small block (click)="confirmTone()">Ok</button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
