<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Programação</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule(true)" padding>
      <ion-segment-button value="sab">
        Sáb
      </ion-segment-button>
      <ion-segment-button value="dom">
        Dom
      </ion-segment-button>
      <ion-segment-button value="seg">
        Seg
      </ion-segment-button>
      <ion-segment-button value="ter">
        Ter
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides #mySlider (ionSlideDidChange)="onSlideChanged()">
    <ion-slide *ngFor="let slide of slides">
      <ion-list #scheduleList *ngIf="slide.day == dayIndex">
        <ion-item-group *ngFor="let group of slide.groups">
          <ion-item-divider sticky>
            <ion-label>
              {{group.time}}
            </ion-label>
          </ion-item-divider>

          <ion-item *ngFor="let session of group.sessions">
            <div>
              <div class="inline time">
                <p>
                  <b>{{session.start}}</b>
                </p>
              </div>
              <div class="inline" [attr.opt]="session.opt">
                <button ion-item (click)="goToSessionDetail(session)" detail-none>
          <h3>{{session.name}}</h3>
          <p>
            {{session.location}}
          </p>
        </button>
              </div>


            </div>
          </ion-item>

        </ion-item-group>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>